<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">MODES LIST</span>
                    <button class="btn btn-success float-end" routerLink="/create-mode">New Mode</button>
                    <table *ngIf="listModes.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Mode</th>
                                <th scope="col">Time Zone</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mode of listModes">
                                <td>{{mode.username}}</td>
                                <td>{{mode.mode}}</td>
                                <td>{{mode.timeZone}}</td>                               
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-primary" [routerLink]="['/edit-mode',mode.username]"></i>
                                    <i (click)="deleteMode(mode.username.name)" class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listModes.length == 0">There are no modes yet</h5>
                </div>
            </div>
        </div>
    </div>
</div>
