<div class="container mt-5">
    <div class="class row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title"> {{ title | uppercase }} </span>
                    <form class="mt-3" [formGroup]="modeForm" (ngSubmit)="addMode()">
                        <div class="mb-3">
                            <input type="text" formControlName="username" 
                                class="form-control form-control-lg" placeholder="Username">
                            <div class="text-danger"
                                *ngIf="modeForm.get('username')?.hasError('required') && modeForm.get('username')?.touched">
                                <span>Username is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="mode"
                                class="form-control form-control-lg" placeholder="Mode">
                            <div class="text-danger"
                                *ngIf="modeForm.get('mode')?.hasError('required') && modeForm.get('mode')?.touched">
                                <span>Organizer is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" [disabled]="modeForm.invalid" class="btn btn-success btn-lg float-end">SUBMIT</button>
                            <button routerLink="/list-modes" class="btn btn-secondary btn-lg float-start">BACK</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

